<div class="container-fluid">
  <app-block-header
    [title]="title"
    [breadcrumbItem]="breadcrumbItem"
  ></app-block-header>
  <div class="row clearfix">
    <div class="col-lg-9 col-md-12">
      <div class="card" *ngIf="repaymentList?.length > 0">
        <app-loader [isLoading]="isLoading"></app-loader>
        <div class="body city-selected">
          <div class="header pt-0">
            Payment breakdown
          </div>
          <table class="table table-striped m-b-0 text-center">
            <thead>
              <tr class="text-capitalize">
                <td class="font-medium">Date</td>
                <td class="font-medium">Amount</td>
                <td class="font-medium">Liquidation Status</td>
                <td class="font-medium">Penalty Amount</td>
                <td class="font-medium">Action</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of repaymentList; let i = index">
                <td class="font-medium">{{ p.repaymentDate | date }}</td>
                <td class="font-medium">
                  {{ p.repaymentAmount | currency: '₦' }}
                </td>
                <td class="font-medium">
                  <span
                    class="badge badge-success bg-success text-white"
                    *ngIf="p.isPaymentRecieved == true"
                    ><i class="fa fa-check-circle"></i
                  ></span>
                  <span
                    class="badge badge-danger bg-danger text-white"
                    *ngIf="p.isPaymentRecieved == false"
                    ><i class="fa fa-times-circle"></i
                  ></span>
                </td>
                <td class="font-medium">
                  {{ p.penaltyAmount | currency: '₦' }}
                </td>
                <td class="font-medium">
                  <button
                    class="btn btn-sm btn-outline-success"
                    (click)="onPayNow(paymentModal, p)"
                    [disabled]="p.isPaymentRecieved"
                  >
                    Pay now
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card recent-transactions" *ngIf="repaymentList?.length === 0">
        <div
          class="body d-flex justify-content-center align-items-center flex-column py-4"
        >
          <div class="icon">
            <img src="assets/images/loan.png" alt="" class="img-fluid" />
          </div>
          <h3 class="mt-3">You Have No Repayment Scheduled Loan</h3>

          <p>
            Click the <strong>Apply Now</strong> button below to apply for a
            Loan <br />It is as simple as that
          </p>
          <button
            class="btn btn-outline-primary btn-sm"
            [routerLink]="['/', 'loans', 'details', 4]"
            routerLinkActive="router-link-active"
          >
            Apply Now
          </button>
        </div>

        <div class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item text-center">
              <div class="col-12">
                <ul class="row days-list list-unstyled">
                  <li class="day col-4">
                    <p>Monday</p>
                    <i class="wi wi-day-hail"></i>
                  </li>
                  <li class="day col-4">
                    <p>Tuesday</p>
                    <i class="wi wi-day-lightning"></i>
                  </li>
                  <li class="day col-4">
                    <p>Wednesday</p>
                    <i class="wi wi-day-storm-showers"></i>
                  </li>
                </ul>
              </div>
            </div>
            <div class="carousel-item text-center active"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 call-to-action">
      <div class="card weather4">
        <div
          class="body d-flex justify-content-center align-items-center flex-column"
        >
          <i class="fa fa-cart-plus text-primary"></i>
          <h3 class="">₦{{ loanAmount }}</h3>

          <p>
            Current loan balance
          </p>
          <button
            class="btn btn-outline-primary btn-sm"
            (click)="liquidateNow(loanModal)"
          >
            Liquidate Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #paymentModal let-c="close" let-d="dismiss">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="title text-center">
          Confirm
        </h2>
        <p>
          Are you sure you want to Pay for
          {{ loanDetails.repaymentAmount | currency: '₦' }}
        </p>

        <div class="content">
          <button
            class="btn btn-sm btn-outline-danger pull-left"
            (click)="closeModal('')"
          >
            Cancel
          </button>
          <app-paystack
            [isDisabled]=""
            (paymentDoneCallback)="paymentDone($event)"
            [amounts]="loanDetails.repaymentAmount"
          >
            Pay Now
          </app-paystack>
        </div>
      </div>
    </div>
  </div>

  <button
    type="button"
    class="search-close"
    aria-label="Close search form"
    (click)="closeModal('Cross click')"
  >
    <i class="fi flaticon-close"></i>
  </button>
</ng-template>

<ng-template #loanModal let-c="close" let-d="dismiss">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="title text-center">
          Confirm
        </h2>
        <p>Are you sure you want to liquidate {{ userLoanList.productName }}</p>

        <div class="content">
          <button
            class="btn btn-sm btn-outline-danger pull-left"
            (click)="closeModal('')"
          >
            Cancel
          </button>
          <app-paystack
            [isDisabled]=""
            (paymentDoneCallback)="liquidatPaymentDone($event)"
            [amounts]="loanDetails.totalAmount"
          >
            Pay Now
          </app-paystack>
        </div>
      </div>
    </div>
  </div>

  <button
    type="button"
    class="search-close"
    aria-label="Close search form"
    (click)="closeModal('Cross click')"
  >
    <i class="fi flaticon-close"></i>
  </button>
</ng-template>
