@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
  border-bottom: none;
  background: linear-gradient(45deg, $yego-green, $yego-green-40) !important;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.navbar-brand {
  img {
    width: 100%;
  }

  a {
    display: block;
    width: 30px;
  }
}
