.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.weather2 {
  .btn-default {
    font-size: 12px;
    padding: 6px 12px;
  }

  h3,
  .h3 {
    font-size: 1.5rem;
  }

  .city-selected {
    .icon i {
      font-size: 50px;
    }

    .city {
      font-size: 20px;
    }
  }
}

.recent-transactions .card .body {
  padding: 0px 20px;
}

.card-title {
  text-align: left;
}
