<div class="container-fluid">
  <app-block-header
    [title]="title"
    [breadcrumbItem]="breadcrumbItem"
  ></app-block-header>
  <div class="row">
    <!--
      ###########################################
      |               Left Column               |
      ###########################################
    -->
    <div class="col-lg-9 col-md-10 col-sm-10">
      <div class="row clearfix">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card weather2 l-turquoise">
            <div class="body city-selected">
              <div class="row">
                <div class="col-12">
                  <div class="city">Current Loan Balance</div>
                </div>
                <div class="info col-7">
                  <div class="temp mt-2 mb-3">
                    <h3>₦{{ summary?.currentLoanBalance }}</h3>
                  </div>
                  <!--              <div class="night"><button type="button" class="btn btn-default mr-1" style="border-radius: 30px;" (click)="goLoansList()">Apply now</button></div>-->
                  <div class="night">
                    <button
                      type="button"
                      class="btn btn-default mr-1"
                      style="border-radius: 30px;"
                      (click)="liquidateNow(loanModal)"
                    >
                      Liquidate now
                    </button>
                  </div>
                </div>
                <div class="icon col-5 mt-3 text-right">
                  <i class="fa fa-cart-plus"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card weather2 l-amber">
            <div class="body city-selected">
              <div class="row">
                <div class="col-12">
                  <div class="city">Repayment Overdue</div>
                </div>
                <div class="info col-7">
                  <div class="temp mt-2 mb-3">
                    <h3>₦{{ summary?.repaymentOverdue }}</h3>
                  </div>
                  <div class="night">
                    <!--                <button-->
                    <!--                  type="button"-->
                    <!--                  class="btn btn-default mr-1"-->
                    <!--                  style="border-radius: 30px;"-->
                    <!--                >-->
                    <!--                  Make payment-->
                    <!--                </button>-->
                    <button
                      type="button"
                      class="btn btn-default mr-1"
                      style="border-radius: 30px;"
                      [routerLink]="['/loans/schedules/']"
                    >
                      View Details
                    </button>
                  </div>
                </div>
                <div class="icon col-5 mt-3 text-right">
                  <i class="fa fa-credit-card"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card weather2 l-blue">
            <div class="body city-selected">
              <div class="row">
                <div class="col-12">
                  <div class="city">Next payment amount</div>
                </div>
                <div class="info col-7">
                  <div class="temp mt-2 mb-3">
                    <h3>₦{{ summary?.nextPaymentAmount }}</h3>
                  </div>
                  <div class="night">
                    <!--                <button-->
                    <!--                  type="button"-->
                    <!--                  class="btn btn-default mr-1"-->
                    <!--                  style="border-radius: 30px;"-->
                    <!--                >-->
                    <!--                  Pay Now-->
                    <!--                </button>-->
                    <button
                      type="button"
                      class="btn btn-default mr-1"
                      style="border-radius: 30px;"
                    >
                      View Details
                    </button>
                  </div>
                </div>
                <div class="icon col-5 mt-3 text-right">
                  <i class="fa fa-cart-arrow-down"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row recent-transactions">
        <div class="col-lg-12 col-md-12">
          <div class="card product_item_list product-order-list">
            <app-loader [isLoading]="isLoading"></app-loader>
            <div class="header" *ngIf="recentTransactions?.length > 0">
              <h2 class="card-title">Recent Transactions</h2>
            </div>
            <div class="body">
              <div
                class="table-responsive"
                *ngIf="recentTransactions?.length > 0"
              >
                <table class="table table-hover m-b-0">
                  <thead class="thead-light">
                    <tr>
                      <th>Date</th>
                      <th data-breakpoints="sm xs">Transaction ID</th>
                      <th>Transaction Type</th>
                      <th data-breakpoints="xs">Amount</th>
                      <th data-breakpoints="xs md">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      [@fadeIn]
                      *ngFor="let item of [1, 2, 3, 4, 5, 6]; let i = index"
                    >
                      <td>28-0{{ i + 1 }}-2019</td>
                      <td>291ER67UY989</td>
                      <td>Loan Disbursement</td>
                      <td>₦16,000.00</td>
                      <td>
                        <span class="badge badge-success bg-success text-white"
                          >Paid</span
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div
                class="body d-flex justify-content-center align-items-center flex-column"
                *ngIf="recentTransactions?.length === 0"
              >
                <i class="fa fa-link text-primary"></i>
                <h3 class="mt-3">Lets Get Started</h3>

                <p>
                  Click the <strong>Apply Now</strong> button below to apply for
                  a Loan <br />It is as simple as that
                </p>
                <button class="btn btn-outline-primary btn-sm">
                  Apply Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix d-none">
        <div class="col-lg-12">
          <app-activities></app-activities>
        </div>
      </div>
    </div>

    <!--
      ###########################################
      |               Right Column              |
      ###########################################
    -->
    <div class="col-lg-3 col-md-2 col-sm-2 call-to-action">
      <div class="card weather4" [@fadeIn]>
        <div
          class="body d-flex justify-content-center align-items-center flex-column"
        >
          <i class="fa fa-link text-primary"></i>
          <h3 class="">Featured Loans</h3>

          <p>
            Get the best of the best loans in the country at low interest rate
          </p>
          <button class="btn btn-outline-primary btn-sm">Apply Now</button>
        </div>
      </div>
      <div class="card weather4" [@fadeIn]>
        <div
          class="body d-flex justify-content-center align-items-center flex-column"
        >
          <i class="fa fa-link text-primary"></i>
          <h3 class="">Secured Loans</h3>

          <p>
            Get the best of the best loans in the country at low interest rate
          </p>
          <button
            class="btn btn-outline-primary btn-sm btn-secure"
            (click)="onAnimate()"
          >
            Apply Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loanModal let-c="close" let-d="dismiss">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="title text-center">
          Confirm
        </h2>
        <p>Are you sure you want to liquidate {{ loanDetails.productName }}</p>

        <div class="content">
          <button
            class="btn btn-sm btn-outline-danger pull-left"
            (click)="closeModal('')"
          >
            Cancel
          </button>
          <app-paystack
            [isDisabled]=""
            (paymentDoneCallback)="paymentDone($event)"
            [amounts]="loanDetails.totalAmount"
          >
            Pay Now
          </app-paystack>
        </div>
      </div>
    </div>
  </div>

  <button
    type="button"
    class="search-close"
    aria-label="Close search form"
    (click)="closeModal('Cross click')"
  >
    <i class="fi flaticon-close"></i>
  </button>
</ng-template>
